/* CSS data for all Glk windows. */

body {
	white-space: pre-wrap;
}

.Style_emphasized {
  font-style: italic;
}

.Style_preformatted {
  font-family: monospace;
}

.Style_header {
  font-weight: bold;
}

.Style_subheader {
  font-weight: bold;
}

.Style_input {
  color: #080;
}
